<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Password Reset Instructions</title>
   <style type="text/css" media="screen">
      body {
         background-color: #cfe4a7;
         font-family: Arial;
         font-size: 100%;
         color: #333333;
      }

      a img {
         border: none;
      }

      table.bg1 {
         background-color: #cfe4a7;
      }

      table.bg2 {
         background-color: #ffffff;
      }

      td.header, td.footer {
        background-color: #cfe4a7;
      }

      td.header-text {
        background-color: #fff;
        border-left: solid 4px #cad8af;
        border-right: solid 4px #cad8af;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        font-size: 12px;
      }

      td.header-text2 {
        font-size: 12px;
      }

      td.body {
         background-color: #eff3e7;
         border-left: solid 4px #cad8af;
         border-right: solid 4px #cad8af;
      }

      table.inner-body {
        width: 700px;
        padding: 10px 20px;
      }

      table.inner-body h2 {
        font-size: 20px;
        font-family: Arial;
        font-weight: normal;
      }

      table.inner-body p {
        font-size: 14px;
        font-family: Arial;
      }

      td.left-col {
        width: 310px;
        padding-right: 20px;
      }

      td.right-col {
        width: 330px;
      }

      img.video-thumb {
        border-top: solid 4px #fff;
        border-right: solid 4px #fff;
        border-bottom: solid 4px #fff;
        border-left: solid 4px #fff;
      }

      table.img-wrapper {
        border-top: solid 1px #e3e7db;
        border-right: solid 1px #e3e7db;
        border-bottom: solid 1px #e3e7db;
        border-left: solid 1px #e3e7db;
      }

      table.profile p {
        font-size: 12px;
        font-family: Arial;
        line-height: 1.3em;
      }

      table.email-bottom {
        background-color: #cfe4a7;
        padding: 10px;
      }

      table.email-bottom p {
        font-size: 12px;
        color: #555555;
        line-height: 1.4em;
      }

      table.email-bottom a {
        text-decoration: none;
      }
   </style>
</head>
<body>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="bg1">
   <tr>
      <td align="center">

         <table width="708" border="0" cellspacing="0" cellpadding="0" class="bg2">
            <tr>
               
            </tr>
            <tr>
              <td class="header-text">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="header-text2"><strong></strong></td>
                    
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
               <td valign="top" class="body">
                 <table width="100%" border="0" cellspacing="0" cellpadding="0" class="inner-body">
                   <tr>
                     <td valign="top">
                        <p>
                          <!-- <strong>Your Password Reset Instructions</strong><br><br>
                          A request to reset your password has been made. We have generated new password for you accout. Use below credentials for login.
                          <p> Email: <%#= @user.email %></p>
                          <p> New Password: <%#= @new_pass %></p> -->
                          <strong>Your Password Reset Instructions</strong><br><br>
                          A request to reset your password has been made. If you did not make this request, simply ignore this email.<br /><br />
                          If you did make this request just click the link below:<br /><br />
                          <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %><br /><br />
                          If the above URL does not work try copying and pasting it into your browser. If you continue to have problem please feel free to contact us.
                        </p>
                     </td>
                   </tr>
                 </table>
               </td>
            </tr>
            
         </table>

      </td>
   </tr>
</table>

</body>
</html>