<div class="">
    <div id="wrapper">
      <div id="login" class="animate form">
        <section class="login_content">
         
            <h2>Thank You</h2>
              
            <div>
             <h3>You have Reset Password successfully..!</h3>
            </div>
            
          <!-- form -->
        </section>
        <!-- content -->
      </div>
    </div>
  </div>
